[2016-03-17 06:01] ebeshero opened #1 "Fascicle 6 has illustrations!"
What a great selection! I noticed that one of your manuscript images features a hand-drawn illustration. You may want to experiment with producing a detailed verbal description of the image--useful for making your project accessible to people who access the web with braille browsers or with JAWS software.

[2016-03-18 01:31] nlottig94 opened #2 "Images for Online Resources"
@ebeshero So we couldn't find the _Poems_, _Poems, Second Series_, and _Poems, Third Series_ in print from any of the Pitt libraries. We _did_ find an online .pdf of [_Poems, Second Series_](http://babel.hathitrust.org/cgi/pt?id=mdp.39015048699014;view=1up;seq=13) and [_Poems, Third Series_](http://babel.hathitrust.org/cgi/pt?id=coo.31924021990456;view=1up;seq=11) in the Pitt system, though, which

[2016-03-18 02:08] ebeshero commented on #2
@nlottig94 @brookestewart I think I found your edition of Poems of 1891, edited by Higginson and Todd, with facsimile imaged pages, [archived on Hathi Trust](http://hdl.handle.net/2027/uc2.ark:/13960/t0sq8qz3w). Does that link work?

[2016-03-18 02:10] ebeshero commented on #2
Oops...wait a sec. That's another copy of the Second Series...Let me try that again...

[2016-03-18 02:10] nlottig94 commented on #2
@ebeshero We already have that one. That's the Second Series. We're looking for the original first series.

[2016-03-18 02:14] ebeshero commented on #2
Aha! I found a reprint of the first series, right here in the Greensburg campus library!

Title:  Poems by Emily Dickinson / Edited by two of her friends Mabel Loomis Todd and T. W. Higginson.
Author: Dickinson, Emily, 1830-1886.
Contributors:   Todd, Mabel Loomis, 1856-1932, ed.
Higginson, Thomas Wentworth, 1823-1911, ed.
Publisher:  New York : Collectors Reprints, Inc., 1993.
Physical Descriptio

[2016-03-18 02:16] ebeshero commented on #2
At least, I'm pretty sure it's the first series... 1890, right? It's hard to tell from the catalog entries.

[2016-03-18 02:18] nlottig94 commented on #2
Really??  I checked out all of the Emily Dickinson books from UPG! I didn't see it! But that looks right!!  I'll try to find it tomorrow!!  But since it's non-circulating, do I have to have special permissions to get it?

[2016-03-18 02:23] ebeshero commented on #2
@nlottig94 @brookestewart You'd need to look at it in Special Collections, so ask one of the librarians for help. I think that means they put you in a study room with the book and you can look at it. I'm not 100% sure this is the edition you want (because the library catalog entries aren't giving me complete metadata, which is how I sent you to yet another second series before!) But this _looks_ r

[2016-03-18 02:52] nlottig94 commented on #2
Okay! I will go to the library either tomorrow or Monday to ask Amanda Folk about it. I know which poems I need to scan in, but I will have to make sure that I can do this. I will let you know what I find out! I will also bring my camera!

[2016-03-18 03:54] nlottig94 commented on #2
@ebeshero @brookestewart I just sent Amanda Folk an email with the book information and asking her how to go about looking at and scanning/imaging it.

[2016-03-18 14:44] nlottig94 opened #3 "Project Midterm"
Todo list:
- [x] Find all poems in manuscripts
- [x] Find all poems in published books already checked out of library
- [x] Scan pages with poems on them
- [x] Find all poems in published books being sent to UPG from other Pitt libraries
- [x] Scan above poems
- [x] Transcribe manuscripts
- [x] Code! Code! Code!
- [ ] Describe image on one letter
- [x] Add new published works to listWit

And more

[2016-03-18 18:51] nlottig94 commented on #3
@brookestewart @ebeshero @RJP43
So I am transcribing the first poem of Fascicle 6 right now! (So @brookestewart, this means that you will definitely have to go over my transcriptions to make sure they're right!) But I noticed that the word "Colors" is underlined in the manuscript. I looked up the TEI way on how to mark this, and it's looking like I should use `<hi rend="underline">`. Is this corre

[2016-03-18 18:55] nlottig94 commented on #3
@brookestewart @ebeshero @RJP43
There are also words with quotes around them, such as `"Promoted"`. Should I use `<hi rend="quoted">` and then get rid of the quotes??

[2016-03-19 00:30] ebeshero commented on #3
@nlottig94 @brookestewart You have several options to consider very carefully here--based on Dickinson's usage. You're looking really at _her_ markup of her own text!
- Does the underlining serve to _emphasize_ a word, put stress on it? If so, consider using `<emph rend="underline">`. I tend to reserve `<hi>` for situations where the underlining isn't about emphasis on a word--like when it is used

[2016-03-19 21:38] nlottig94 commented on #3
@ebeshero Yes, it does seem to emphasize a word! I will mark it with `<emph rend="underline">`. And the quotation marks do not correspond to spoken expression; however, I was looking at the TEI website that you gave me and it's pretty much leading me to still use `<q>` elements, but I was thinking that it would be wise to have an `@type` describing why it is in quotes. I'm not entire sure what att

[2016-03-20 01:14] nlottig94 commented on #3
@ebeshero and @brookestewart
So I'm now on poem 2. the Poems3 edition of the poem has a title. Any suggestions about what to do with this?

[2016-03-20 02:29] nlottig94 commented on #3
@ebeshero @brookestewart
I've just found single quotes now! Could we use the `<q>` element with an `@rend` to distinguish double quotes and single quotes?

[2016-03-20 05:03] ebeshero commented on #3
@nlottig94 Look up the title element in the TEI...And yes I think you understand the use of`@rend`.

[2016-03-20 14:54] RJP43 commented on #3
@nlottig94 and I think what you are saying is that edition has a title whereas the manuscript and other editions do not .... so just stick the title element into an app wit setup.

[2016-03-20 15:00] ebeshero commented on #3
@RJP43 @nlottig94 No--I wasn't saying anything like that! I was just asking you to look up the options for titles in the Guidelines--I had not actually done that myself, but was inviting you to do so!

[2016-03-20 15:11] ebeshero commented on #3
@RJP43 @nlottig94 I think you need to use the TEI Header and its `<titleStmt>` here, and you saw this in the XQuery Exercise 2 with the Mitford project. If the poem has an alternative title, you can include it there, like we did with The Melfi vs. Julian. I don't think this needs to affect your list of witnesses.

[2016-03-20 15:40] RJP43 commented on #3
I think the concern was that [this edition of poem 2](https://github.com/nlottig94/EmilyDickinson6/blob/master/ImageFiles/602/602poems3.jpg) has a title whereas the manuscript and all of the other editions do not have a title ... so I was suggesting that once you investigate the TEI options of title that you could stick the title in the `<app><rdg>` setup

something like this:

`<app><rdg wit="#df

[2016-03-20 15:50] ebeshero commented on #3
@RJP43 @nlottig94  It's adding complication to your list of reading witnesses, when all you want to do is give this particular document a title. The reading witness doesn't need to be any different than it is for any other poem in the fascicle, since you're referring to the same bundle of manuscripts. So, really, this one just has a title where the others don't. I think in the Dickinson project ti

[2016-03-20 15:56] RJP43 commented on #3
Oh I was under the impression from your [wiki](https://github.com/nlottig94/EmilyDickinson6/wiki/Colors-&-Tags) that `#poems3` was already an edition with a reading witness ID... sorry was looking from the outside in and got confused... still am a bit but as long as you ( @nlottig94 and @brookestewart ) can make sense of all that then that is all that matters.

[2016-03-27 17:53] nlottig94 opened #4 "Person Names in Poems"
@brookestewart in Poem 1 Dickinson refers to Pizarro (Francisco Pizarro González, a Spanish conquistador). Do you think we should mark this up in `<persName>` tags just to have it? We don't really need to use it in our research, but if someone else ends up wanting to do something different with it later, then it will already be marked...

[2016-03-29 00:29] brookestewart commented on #4
I don't think it would hurt anything! Like you said, it would be helpful for further research.

[2016-03-29 18:24] nlottig94 commented on #4
@brookestewart this has nothing to do with persNames, but in the `<q>` elements in the fourth poem, do you think it would be characterized as thought: representation of thought, e.g. internal monologue??  Look at [this page](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-q.html) to see what you think will be best in the `@type`.

[2016-03-30 01:35] brookestewart commented on #4
@nlottig94 yes, I think that would be the best!

[2016-04-08 01:51] nlottig94 commented on #4
@brookestewart I also tags countries in `<country>` tags and mountain ranges, such as Alps, in `<geoName>` tags.

[2016-04-08 01:53] nlottig94 opened #5 "Poem 12"
@brookestewart I know that we discusses having two different XMLs for Poem 12 because it has two different original manuscripts, but I was talking to @RJP43 today, and we were thinking that we could just use the `var0`, `var1`, var2`, etc. for these since not all of the publications state which version it's following.  Does this make sense?

[2016-04-08 01:59] nlottig94 opened #6 "New Web Space for Dickinson6?"
@ebeshero Is there any way @brookestewart and I could get another web space for the Emily Dickinson: Fascicle 6 project???  I wanted to ask now before it's too late.  I feel like having both on one website will clutter the already full Emily Dickinson: Fascicle 16 site...

[2016-04-08 02:18] nlottig94 commented on #5
@ebeshero as I was trying to add `var0`, etc. into the `@wit` in Poem  12, I noticed that our Schematron is firing because anything in the `@wit` is to be only the witnesses in the listWit...is there like an if then statement type thing that we can use here???  I tried to Google it, but had no luck!

[2016-04-08 02:37] ebeshero commented on #5
@nlottig94 I don't see your Schematron file. You need to include it in the repository, and it sounds as if you need to modify either it or your list of witnesses to include your encoding of Dickinson's variants. How did you control this in the Dickinson 16 project?

[2016-04-08 02:39] nlottig94 commented on #5
@brookestewart What I have suggested above might prove to be very hard... @RJP43 could you take a look at the images and what I have so far in the XML for Poem 12?  I'm stuck on line 5 and 6...

[2016-04-08 02:57] nlottig94 commented on #5
@ebeshero it is in the Dickinson6_InitialXML folder [here](https://github.com/nlottig94/EmilyDickinson6/blob/master/Dickinson6_InitialXML/Schematron2Dickinson.sch).  And we didn't control this in Dickinson 16...So I'm assuming that there will be an issue there as well.

[2016-04-08 04:47] ebeshero commented on #6
@nlottig94 Do you think there should be a directory _above_ dickinson16 that is just dickinson, and then you can build dickinson6 and/or other dickinson sites in directories within that space? Let's talk about this in the morning and I'll see what can be done.

[2016-04-08 04:48] ebeshero commented on #5
@nlottig94 I've just made a modification to your Schematron and issued a pull request. I think it'll resolve the problem--let me know.

[2016-04-08 12:50] nlottig94 commented on #6
@ebeshero I won't be in class today, but @brookestewart will talk to you about it this morning. That's sounds good to me.  That way we can almost make an archive for all of the Fascicles if we get that far in the future!

[2016-04-08 13:00] ebeshero commented on #6
@nlottig94 @brookestewart If we do that, it will change all your site URLs in dickinson16, and we need to figure out how you'd like your address to be configured:

Literally we'd have:
`dickinson.newtfire.org/dickinson16/`
Instead of what you now have:
`dickinson16.newtfire.org`.
But that seems a little long and repetitive, doesn't it? What do you think of renaming the fascicle directories by thei

[2016-04-08 13:04] nlottig94 commented on #6
@ebeshero I think this is a good plan.  What do you think @brookestewart?

[2016-04-08 13:06] ebeshero commented on #6
I just rewrote the URLs above--I think the fascicle directories would be set at the end of the URL.

[2016-04-08 13:08] nlottig94 commented on #6
Which would then be followed by the page name in steps, correct?

[2016-04-08 14:35] nlottig94 opened #8 "Poem 14"
@ebeshero @brookestewart @RJP43
So I've begun coding [Poem 14](https://github.com/nlottig94/EmilyDickinson6/blob/master/Dickinson6_InitialXML/fs614.xml).  I'm noticing an issue though...the [Centenary Edition](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/img/614/614cea.jpg) combines lines 2 and three, which really messes up line numbers...I was thinking that I could just put

[2016-04-10 16:59] nlottig94 commented on #8
@ebeshero @brookestewart @RJP43
There is a similar issue with the [Centenary Edition](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/img/608/608ce.jpg) of [Poem 8](https://github.com/nlottig94/EmilyDickinson6/blob/master/Dickinson6_InitialXML/fs608.xml).  Here lines 3 and 4 are being combined..

[2016-04-10 17:24] ebeshero commented on #8
@nlottig94 @brookestewart As of last fall, the TEI Guidelines now permit `<rdg>` elements to contain `<l>` and `<lg>` elements--and it was a controversial decision but very popular with the TEI community for situations like the one you are facing. It _should, yes_ absolutely be valid to encode `<rdg>` elements to surround the `<l>` elements now: see:
http://www.tei-c.org/release/doc/tei-p5-doc/en/

[2016-04-10 17:33] ebeshero commented on #8
@nlottig94 @brookestewart If I understand the problem correctly, you have one edition that is putting two of Dickinson's lines together in just one line, and thus shortening her poem. One way to deal with that is to consider _what your line numbers_ in your HTML output are actually signalling. (And you will want to discuss this together and write it into your project methods page.)

Your current a

[2016-04-10 17:35] ebeshero commented on #8
@nlottig94 @brookestewart One thing you may want to experiment with is an alternative XSLT output from your HTML: to output separate editions of the poems, perhaps to arrange side-by-side on the screen. That could be an alternative layout to the one you configured with Alex last semester, and you could code it so that the line numbers are distinct for each separate edition. Something to think abou

[2016-04-10 17:42] nlottig94 commented on #8
@ebeshero Thanks!  @brookestewart and I will talk about it on Monday, well tomorrow.  I did try to surround `<l>` elements, and even `<lg>` elements in `<app>` and `<rdg>` tags, but it said it was invalid?  And, yes, I believe it would be easier to have separate tabs for Poem 12, and @RJP43 suggested that maybe Fascicle 10 will be our next Fascicle to code because there is another edition of Poem

[2016-04-10 17:57] ebeshero commented on #8
@nlottig94 Yes, I'll try to come early before class--because I've got a faculty meeting at 11:45 tomorrow. In the meantime, I'd like to take a look at your schema lines and see why it's firing an error...It's supposed to be legal now. I wonder if you have a project schema rule that's blocking the encoding? (You might want that rule, actually, if you want to keep coding the original way...and then

[2016-04-10 17:59] nlottig94 commented on #8
@ebeshero Thank you!  And I'm finished working with the Schematron now, so go for it! Just make sure you keep pulling in changes because I've been cropping pictures so you can't see my page markers and I've got all but three poems coded (8, 12, and 14).

[2016-04-10 18:06] ebeshero commented on #8
Will do--after I try debugging some of Becca's code...more later! Thanks for the heads-up about pulling in changes! @nlottig94

[2016-04-10 18:29] #2 closed

[2016-04-10 18:29] #4 closed

[2016-04-10 18:30] nlottig94 commented on #5
REFER TO [THIS ISSUE](https://github.com/nlottig94/EmilyDickinson6/issues/8)

[2016-04-10 18:30] #5 closed

[2016-04-10 18:56] nlottig94 opened #9 "Things that need to be done with Dickinson as a whole"
- [x] Study @amielnicki's XSLT and see if anything needs changed for Fascicle 6.
- [x] Study @amielnicki's JavaScript file.
- [x] Create one full bibliography page, as well as having individual ones for each poem's images.
- [x] Create new overall Dickinson homepage.
- [x] Create homepage for Dickinson 6.
- [x] Create homepage for Dickinson 16.
- [x] Fix button color of Atlantic Monthly on [Poem 2

[2016-04-10 18:57] nlottig94 commented on #9
@brookestewart @nlottig94

[2016-04-10 18:58] nlottig94 commented on #9
I'm tagging @amielnicki and @blawrence719 just so they can see where Dickinson is going.

[2016-04-10 18:59] nlottig94 commented on #9
@ebeshero @ghbondar @RJP43 @brookestewart
We may need (well, probably will) add to this list, but it's just to keep everything clear so it won't get confused in my head!

[2016-04-10 20:36] ebeshero commented on #8
@nlottig94 Okay! I'm looking at your files now: Do you have a particular XML you recommend that I work with? Otherwise I'll just pull randomly from something that isn't 8, 12, or 14.

[2016-04-10 21:12] ebeshero commented on #8
@nlottig94 It's not your project schema...but I'm worried that it's a problem with the build of the TEI that was sent to `<oXygen>` so I've alerted my colleagues on the TEI Technical Council about it! For now, we'll have to encode the variants inside the lines, and do things very literally: So if one edition is lacking any content, you'll need to indicate that, I think with an empty `<rdg>` elemen

[2016-04-10 21:16] ebeshero commented on #8
@nlottig94 @brookestewart If you'd like to follow the discussion of this in TEI Technical Council, see https://github.com/TEIC/TEI/issues/1322

[2016-04-10 21:34] ebeshero commented on #6
@nlottig94 yes, in theory it would. In practice, the PSC people never returned an answer(!) So I'm worried that they won't get to this in time for your project presentation and submission this semester. Also my students in my Early American Lit class are supposed to be writing papers based on your Fascicle 16 project, so it's probably not a good idea to change the URL right now. It might be delaye

[2016-04-10 21:40] RJP43 commented on #8
@ebeshero this is interesting convo. for the Nelson project as well because there are entire divs holding headlines and bodies of text that are only in the original articles and not in the other source text. We ended up just putting the app markup inside of the structural markup, but my initial wish was to surround the entire sections that are excluded. Check out our work around in this article: [

[2016-04-10 22:34] ebeshero commented on #8
@RJP43 @nlottig94 @brookestewart @spadafour
Aha! Problem solved! We all need to check and install updates to the TEI in oXygen: Follow these simple instructions and then you'll be able to wrap `<app><rdg>` elements around paragraphs, lines, and line-groups in TEI-All:
http://blogs.it.ox.ac.uk/jamesc/2014/04/02/auto-update-your-tei-framework-in-oxygen/

[2016-04-11 00:34] nlottig94 commented on #8
@ebeshero I'm updating it right now!  But I was thinking, that I really like your reasoning about how we could just use an empty `rdg` element for the second line that has been combined with the first and then specify that the numbers just represent how many lines are possible in each publication.  What do you think?

[2016-04-11 00:37] nlottig94 commented on #6
@ebeshero That sounds good. We'll just hold off for the time being, and if we don't get an answer by next week, we'll just make what we have work!

[2016-04-13 19:29] nlottig94 commented on #9
@brookestewart I am done photoshopping poems 1-9.  If you could look over the rest of them tonight, so I can photoshop them tomorrow, I would really appreciate it!

[2016-04-14 02:44] nlottig94 commented on #9
@brookestewart @ebeshero @RJP43
I just added html pages so we have something to work with when we get there. Also, since my CSS and JavaScript folders will be _outside_ the 6 and 16 folders, how do I go about linking them in the 6 and 16 poems themselves? I know it's got to be super simple, I'm just drawing a blank right now!!

[2016-04-14 02:54] RJP43 commented on #9
@nlottig94 Where are they sitting in relation to each other? If all of the poems are in a folder that is sitting inside of a folder that is holding another folder with the javascript and CSS you just have to follow the path from the poem to the javascript and css... similar to how you navigate n fetch/command line `../` will take you all the way out to the root directory. From there you can slash

[2016-04-14 06:31] brookestewart opened #10 "Github/laptop issues"
![git](https://cloud.githubusercontent.com/assets/14084707/14518647/3d387f08-01e7-11e6-96fe-5485351bafaa.png)

So this is what's happening with my GitHub. My Git Shell has been broken, and now the desktop client won't work. I tried restarting my computer, but that didn't work. I tried re-adding the repositories, but no luck there either. Any ideas what to do? It was working fine earlier.
@RJP43 @e

[2016-04-14 12:50] ebeshero commented on #10
@brookestewart Did you recently have your laptop repaired? I remember you'd taken it to be fixed...First, are your local GitHub files still where you stored them before?

You could write to the e-mail address they gave you, or you could try uninstalling and reinstalling the Windows GitHub client. If you do that, it always seems simplest to me to "nuke" the local repo--destroy it utterly and comple

[2016-04-14 13:16] RJP43 commented on #10
Does the command line still work?

[2016-04-14 13:20] ebeshero commented on #10
My guess is that like the other students, she is accessing command line from this Windows client interface.

[2016-04-14 13:29] RJP43 commented on #10
Which isn't really all that necessary. .. @brookestewart can you find your repo folders (in explorer) on your local computer. And do you know how to open command line from there? If not then yea either nuke or email github I can't do much without seeing it anyway. Or wait till tomorrow and I can see if it's just a client issue or if your whole github is no longer configured

[2016-04-14 15:05] brookestewart commented on #10
I did recently have it repaired, but it was working after that. @RJP43 no, command line hasn't been working, remember it wouldn't even open?
I could try to nuke and reinstall it.

[2016-04-14 15:42] ebeshero commented on #10
@brookestewart just remember to set aside somewhere safe any new files you need to commit to the repo. I wonder what happened, but I think some necessary Git configuration file for your client must have gotten corrupted. Sometimes strange things happen in shutting down a computer and maybe a network connection was suddenly cut off and something failed to update... Who knows! But I am sorry it happ

[2016-04-14 15:49] brookestewart commented on #10
I'm not sure what happened, but I nuked and reinstalled it and it gave me the same message. However, it let me clone the repo and seems to be working now! Thanks!

[2016-04-14 18:06] nlottig94 commented on #10
@brookestewart you got everything figured out, right?  I'm going to close this issue.

[2016-04-14 18:06] #10 closed

[2016-04-14 18:08] nlottig94 commented on #9
Thanks @RJP43!!  I'm going to work on this tonight, so I'll try it then!  If I have any issues, I'll ask you in the morning!

[2016-04-15 01:00] nlottig94 commented on #9
Leaving this here for myself as I'm doing image mapping.
http://imagemap-generator.dariodomi.de/

[2016-04-15 19:25] nlottig94 commented on #9
@ebeshero @RJP43 @ghbondar @brookestewart
We have our first XML to HTML webpage for Fascicle 6!!  I've fixed the XSLT and CSS!  I still need to do the JavaScript, but I have to go to work.

[2016-04-15 22:36] ebeshero commented on #9
Yay! Post a link so we can view it from GitHub?

[2016-04-16 01:58] nlottig94 commented on #9
@ebeshero here's the [link](http://htmlpreview.github.io/?https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/601.html).
Sorry it took me so long to respond!  I'm going to look at the JavaScript now so I can have it fully functioning!!

[2016-04-16 04:31] ebeshero commented on #9
Looks great so far, @nlottig94 !

[2016-04-16 17:04] nlottig94 commented on #9
The JavaScript is finished!!

[2016-04-17 00:49] nlottig94 commented on #9
@ebeshero
So I'm trying to do what [David suggested](https://github.com/ebeshero/EmilyDickinson16/issues/31) with the tables (scroll to where his comments are), but I'm having issues...Here is my [XSLT](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/xml/dickinson6Experiment.xsl).  Sorry it's a bit messy!!  And here's my [output HTML](https://github.com/nlottig94/EmilyDickinso

[2016-04-17 00:52] nlottig94 commented on #9
Oh!  And I also know that I need my `span`s _inside_ the `tr`. But that's an easy fix after I figure out how to output the tables...

[2016-04-17 01:37] ebeshero commented on #9
@nlottig94 Aha! I spotted the error: It's really tiny, in your CSS line: You have Web-files and it needs to be Web-Files (both words capitalized). Was that the problem you wanted me to see if I could fix?

[2016-04-17 01:47] nlottig94 commented on #9
Thanks @ebeshero!  That's not the issue, though, if you look at the tables, it's outputting, that is the issue I need to fix.  And I want there not to be a table when there aren't any `app`s...Is that understandable? If not, let me know!

[2016-04-17 04:13] nlottig94 commented on #9
@ebeshero
When creating an SVG from XSLT, is there any restriction of how much content a `g` element can hold?  I'm having an issue where oxygen is saying that I have to close a `g` element right in the middle of what needs to be held in it...
[Here's the link to my XSLT](https://github.com/nlottig94/EmilyDickinson6/blob/master/SVG/xslt_to_SVG-Final.xsl)

[2016-04-17 05:05] ebeshero commented on #9
@nlottig94 Sorry--I wondered about those tables but I wasn't sure what you were aiming to do! It struck me there's a lot of repetition of the same variants and a lot of empty table cells, but I figured you'd be using CSS and JavaScriot to toggle their display property, so they could be hidden without taking up space. I'm just looking from my iPad right now, but I see what's making your XSLT to  ou

[2016-04-17 05:30] ebeshero commented on #9
@nlottig94 As for the XSLT to SVG, no there is no limit to how much goes into a `<g>` element, so long as the contents are well-formed! I think there is an element that isn't properly closed somewhere...I'll take a look more closely...

[2016-04-17 05:43] ebeshero commented on #9
@nlottig94 ....and yes, that's it: You have several extra closing `</xsl:for-each>` tags in your XSLT and that was making your file not be well-formed. There will be one other problem once you clear that up: see my line comments: https://github.com/nlottig94/EmilyDickinson6/commit/8489d7ef2d36cd2dcd4198f82c11076bc42b8f86

[2016-04-18 21:31] nlottig94 commented on #9
@ebeshero
So, as I've mentioned above, I was trying to output tables as the lines, so we could see the variations in a more organized way.  I _did_ succeed in doing this; however, it's not valid in HTML (I get the red angry square in oxygen!).  Here is my [XSLT for the HTML](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/xml/Dickinson6Experiment2.xsl).   Here is my [output HT

[2016-04-19 02:58] nlottig94 opened #11 "XSLT Help"
@ebeshero
This is the [XSLT from Dickinson 16](https://github.com/ebeshero/EmilyDickinson16/blob/master/DickinsonLineNumbers/dickinson.xsl) that Alex made, and it works for Fascicle 16. [I have added and deleted things that were needed/not needed.](https://github.com/nlottig94/EmilyDickinson6/blob/master/Dickinson6_InitialXML/dickinson.xsl)  However, for some odd reason, when an HTML is output, it

[2016-04-19 03:29] nlottig94 commented on #11
@ebeshero
You can also look at all of the others [here](https://github.com/nlottig94/EmilyDickinson6/tree/master/Web-Files/6).  [Poem 1](http://htmlpreview.github.io/?https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/601.html) looks okay, but as I was looking through the pages, Poem 4 is just really messed up :(

[2016-04-19 12:22] ebeshero commented on #11
@nlottig94 I'm looking at the XSLT that creates table output first. The output error you're getting is due to the `<span>` element, which is an inline HTML element and isn't allowed to wrap around a block element like `<table>`. So you can't wrap `<table>` or any table element in a `<span>`. It's okay to have the `<span>` elements be sitting _inside_ table cells (`<td>`) though. You'll need to ret

[2016-04-19 12:26] ebeshero commented on #11
@nlottig94 Aha! The answer to why you're getting so many extra output `<td>` cells is simple! In your XSLT, you have put the `<td>` elements _outside_ your `<xsl:if>` conditional statements, and that means you are _always_ outputting them, but they are coming out empty when your condition test isn't being met.

Try fixing these things (and you'll probably have to make a special modified CSS and Ja

[2016-04-19 12:36] ebeshero commented on #11
@nlottig94 In _both_ XSLT files (the one making a table and the one outputting your original format) there's the same problem, isn't there--that you're outputting the contents of the lines in the wrong order. Let's see if we can figure out why that's happening with the processing order.

[2016-04-20 12:12] RJP43 opened #12 "Project Feedback"
Hey everyone,

Please give us feedback, on this project, here in this issue.

THANKS!

[2016-04-20 18:36] HelenaSabel commented on #11
Hello! I modified an XSLT file called "Dickinson6Experiment4.xsl" because I thought it was the most recent version of this bug. I only changed the part where the tables were being created so I didn’t touch anything before that part.
I think the tables are correctly created with the format I understood you wanted:
- One table for each line
- One row for each witness
- One cell for each node

Let me

[2016-04-20 21:20] nlottig94 commented on #11
@HelenaSabel thank you so much for your help!!
Okay, so your XSLT wasn't quite what I wanted to do, so [I messed around a bit with it](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/xml/Dickinson6Experiment4.xsl)....and I'm getting [the output that I want](http://htmlpreview.github.io/?https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/604.html)!!  The one t

[2016-04-21 00:17] nlottig94 commented on #11
@HelenaSabel @ebeshero @brookestewart @RJP43
Hi again! So I've figured out my coloring issue, but I'm having a different coloring issue.
Here is the [XSLT](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/xml/Dickinson6Experiment4.xsl).
And here is the [output](http://htmlpreview.github.io/?https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/604-1.html).
I am c

[2016-04-21 01:09] ebeshero commented on #11
@nlottig94 @HelenaSabel First, thanks Helena for helping us out with _exactly_ what we were stuck on last night: We weren't sure how to store information from the template match context on the `<l>` element in the new context set in the `<xsl:for-each>`, and my solution was `<xsl:for-each-group>`, but yours with **storing the `current()` template match info** inside a variable and calling it insid

[2016-04-21 01:15] ebeshero commented on #11
@nlottig94 Armed with some information about how `<xsl:param>` and `<xsl:with-param>` work together with that super-cool `@tunnel` in different template rules, I bet we can figure out how to position your `@class` attribute on only the table data cells that contain output from the `<app>` element when it outputs a designated `<rdg>` (based on its `@wit`)...

[2016-04-21 02:11] ebeshero commented on #11
@nlottig94 @HelenaSabel I figured it out! (Thanks again, Helena, for showing us xsl:param!) Nicole, yes, you can use the param tunnel to deliver the value! I'll push my code in a minute.
@RJP43 @spadafour I think you'll both find this interesting... :+1:

[2016-04-21 02:18] ebeshero commented on #11
Here ya go! @nlottig94
https://github.com/nlottig94/EmilyDickinson6/pull/14

[2016-04-21 02:19] nlottig94 commented on #11
Thanks @ebeshero!  And thanks @HelenaSabel!!  I'll merge the pull request in the morning.  I'm heading to bed early because of the lack of sleep I got last night!  Thank you so so much!!

[2016-04-21 14:18] nlottig94 commented on #11
@ebeshero @HelenaSabel
Thanks so much for all your help! I'm now trying to figure out how to hide the _entire_ table row when the publications are switched off. Right now (in @ebeshero's output) when you toggle the publication off, it still leaves the non-`rdg` text on.

[2016-04-21 15:18] HelenaSabel commented on #11
Hi again! I’m glad  I could be of help although I misunderstood what you wanted to do. I thought you wanted a table where you can simultaneously read all the witness (and their variants) at the same time. That’s why the common text is repeated in each row. However, if what you want to do is to toggle between readings, it makes much more sense (and a much cleaner output) to have the different varia

[2016-04-21 15:25] nlottig94 commented on #11
@ebeshero @HelenaSabel!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
I'VE FIGURED IT OUT WITH JAVASCRIPT AND CSS!!!!!!!
Give me a few minutes to work out the bugs, and then I'll post something!!!!

[2016-04-21 15:38] nlottig94 commented on #11
@ebeshero @HelenaSabel @brookestewart
Okay!
Here is the finished [XSLT](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/xml/Dickinson6FINAL.xsl).
Here is the changed [CSS](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/css/styles.css).
Here is the changed [JavaScript](https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/scripts/dickinson.js).

[2016-04-21 15:54] HelenaSabel commented on #11
Very nice job!
I have a few questions, though:
- Why is the pronoun “I” highlighted in line 6?
- Are the white spaces before punctuation variants generated on purpose or are those the result of handling the `app/rdg` elements?

[2016-04-21 20:44] nlottig94 commented on #11
@HelenaSabel
First, I is highlighted because in the different versions, have it underlined, italicized, or nothing.  You can see it now!!!
Next, the white spaces before the punctuation is because of the table cells...

[2016-04-22 02:50] ebeshero commented on #11
@nlottig94 Nicole: Have you collapsed the borders of those cells? Here's the CSS property you want:
http://www.w3schools.com/cssref/pr_border-collapse.asp

Basically you want the table cells to be as minimal as possible...

[2016-04-23 13:31] nlottig94 commented on #11
Thanks @ebeshero and @HelenaSabel for all your help!

[2016-04-27 02:59] nlottig94 commented on #9
@brookestewart @ebeshero @RJP43 @ghbondar
I slightly changed our newest XSLT so it would work for Fascicle 16 and ran all of the poems to get new HTML pages for 16!  Right now all of the poems (Fascicle 16 and 6) are up and running on the [Dickinson site](http://dickinson16.newtfire.org/)!!!  Check it out!!!
I have to fix some links and some drop-down menus, but other than that, new write-ups, and

[2016-04-27 08:36] ebeshero commented on #9
Great work, @nlottig94 ! The image mapping looks good too, @brookestewart ! Looks like your intro page to Fascicle 6 isn't loading its image?

[2016-04-27 12:56] nlottig94 commented on #9
@ebeshero
The home pages aren't finished yet.  I need to make write ups for each!  It'll be up soon!

[2016-04-28 02:01] nlottig94 commented on #11
Okay @ebeshero and @HelenaSabel....I know that you don't want to hear this, but I have a new issue..
So here is the background: After changing what needed to be changed in the XSLT to make the poems in Fascicle 16 look like the poems in Fascicle 6 (all in tables, etc.), I ran the XSLT over all the poems and I thought it looked wonderful! _However_, after looking through the Fascicle 16 poems today

[2016-04-28 02:48] ebeshero commented on #11
I'm taking a look now! @nlottig94

[2016-04-28 02:49] nlottig94 commented on #11
Thank you so much @ebeshero!!!

[2016-04-28 04:40] nlottig94 opened #15 "Bibliography Page"
@brookestewart
Here are the entries that need to be on the bibliography page:
* Dickinson, Emily. _The Manuscript Books of Emily Dickinson_. Cambridge, Massachusetts: The Belknap Press of Harvard University Press, 1981.
Ralph W. Franklin reassembled Emily's fascicle manuscripts in this facsimile edition. Our manuscript images on the site are originally from this source. (Put in Image group)
* Dick

[2016-04-28 04:43] nlottig94 commented on #11
Any luck, @ebeshero?

[2016-04-28 10:29] ebeshero commented on #11
I didn't actually start looking at it yet--sorry. Fell asleep after I typed that last night. I'll take a look now. There's something different between the way you're processing Fascicle 6 vs. Fascicle 16, isn't there? So, when you run your XSLT over a Fascicle **6** poem encoded in a similar way with Var01, Var02, etc. you get the output you want? If that is the case, you want to look at why Fasci

[2016-04-28 10:38] ebeshero commented on #11
@nlottig94 Can you tell me whether the XSLT you are using to process Fascicle 6 is different from the one you use to process Fascicle 16, and if they are different, can you point me to the one you're using for Fascicle 6?

Or is this the same XSLT for both fascicles?

[2016-04-28 11:13] ebeshero commented on #11
@nlottig94 Okay--I see they must be different, and the difference is your handling of VAR01, VAR01, etc.  This is your current XSLT for Fascicle 6, right?
https://github.com/nlottig94/EmilyDickinson6/blob/master/Web-Files/6/xml/Dickinson6FINAL.xsl

I think what's wrong for Fascicle 16 is simply that you're processing the output of VAR01 when it appears together with other witnesses in an rdg, and

[2016-04-28 11:54] nlottig94 commented on #11
@ebeshero
Yes, that's exactly what I'm trying to do.  If you go into the 'Web Files' folder and open 1601variantExperiment2, you can see how I want it to look (other than all of the publications are together because the CSS won't work on them anymore).

[2016-04-28 15:28] ebeshero commented on #11
@nlottig94 I'm working on this in transit, so I'll update through the afternoon: The first thing I notice is that your website at newtfire is rendering the poem differently than the way it comes out when I view it locally within your GitHub repo:
The website view of 1601: http://dickinson16.newtfire.org/16/1601.html isn't showing "VAR1" and "VAR2" at all--but the GitHub version, when I run it and

[2016-04-28 18:29] nlottig94 commented on #11
@ebeshero
I haven't pushed the ones with the variants to the site because it's not correct, so I'm just going to leave what I have alone until we figure something out.

[2016-04-29 02:29] ebeshero commented on #11
@nlottig94 Nicole--I've been working on this most of the day and I think there's a conceptual problem with how we have to access Dickinson's vars, that maybe we need to solve by altering the encoding of the Fascicle 16 collection so it's easier to access Dickinson's variants along with the other witnesses. This is some thorny territory that I can't resolve tonight--and you shouldn't worry about it

[2016-04-29 02:34] nlottig94 commented on #11
I was thinking the same thing that we may need to change our coding style.  Thank you for your help so far!  Just so you know, @brookestewart and I are meeting tomorrow to get the final things figured out for Dickinson, so we won't have the site quite finished until maybe Saturday.  I hope this is okay!

[2016-04-29 12:51] ebeshero commented on #11
@nlottig94 @brookestewart I think I figured out a way to handle the XSLT, [in this commit](https://github.com/ebeshero/EmilyDickinson16/commit/bf7fdb4d2fb0d9885e3bf67f0d0cc11a20920e6d)!
I used modal XSLT. Here's [a sample of the output](http://htmlpreview.github.io/?https://github.com/ebeshero/EmilyDickinson16/blob/bf7fdb4d2fb0d9885e3bf67f0d0cc11a20920e6d/Web%20Files/16/1601ebbOutput.html)
but you

[2016-04-29 13:40] brookestewart commented on #15
- [ ] Insert link to our new bibliography page under the dash analysis.

[2016-04-29 14:24] nlottig94 commented on #11
@ebeshero
@brookestewart and I looked at the XSLT and it is working with the CSS!!!  I understand everything that you did!! Thanks so much!!!

[2016-04-29 14:30] ebeshero commented on #11
@nlottig94 Yay! I guess the GitHub view was running the wrong CSS when I tried it. I am glad it is working! Modal XSLT and treating df16 as a separate thing, not one of the normal witnesses, is what makes it possible. I am glad I finally figured it out--the code was tricky to rewrite!

[2016-04-29 14:37] nlottig94 commented on #11
@ebeshero
It was because you took out the `xsl:choose` with just the `@wit` for the `rdg` elements, so it was only catching the `{$wit}text`. See what I mean? [Look at what I changed.](https://github.com/ebeshero/EmilyDickinson16/blob/master/DickinsonLineNumbers/Dickinson16FINAL.xsl).

[2016-04-29 14:53] nlottig94 commented on #11
@ebeshero
The new Fascicle 16 poem htmls are up and running on the site!

[2016-04-29 14:58] ebeshero commented on #11
@nlottig94 Oh good!! Yes, I deleted those conditionals when I wasn't getting output at one point and had generated a lot of commented-out chunks. So restoring those puts back the classes you need for the CSS--huzzah!!

[2016-04-29 15:00] ebeshero commented on #11
@nlottig94 I know this means a lot of work, but how about writing up a special page to go with the site, walking the specialized coders in your audience through the steps of the XSLT as it processes a fascicle 16 poem? It would be really helpful for future projects that deal with versioning, and maybe for future people who want to help build your Dickinson project! And it would be a great way to d

[2016-04-29 15:07] nlottig94 commented on #11
@ebeshero
I can do that, but it might have to work on that later because I have to work on the network analysis for Fascicle 6 first.

[2016-04-29 16:20] ebeshero commented on #11
Sounds like a plan! @nlottig94

[2016-05-01 09:15] brookestewart commented on #9
@nlottig94 I have the fascicle pages, bibliography, and dash analysis done. I just need to finish the fascicle 6 analysis and conclusion. I went to update the dash analysis for 16, but I need you to change the permissions, it won't even let me delete it. It's dash.html inside the 16 folder. I have to get a few hours of sleep, and I'll try to finish as much as possible in the morning, but I probabl

[2016-05-01 12:22] nlottig94 commented on #9
@brookestewart Okay..The permissions were fine on the dash.html inside of the 16 folder...I'll push what you have in GitHub to the site. I'm working on the methodology now. I will make sure I'm finished with it before work. Whenever you're finished with the conclusion page, set up a new issue and tag Dr. B and Greg in it and try to state everything we did. Also, mention that I will try to create a

[2016-05-01 12:23] nlottig94 commented on #9
@brookestewart as an update, I just ran the site over the w3schools validator and we're all good!!  Make sure you mention that on the comment as well!!!

[2016-05-01 13:21] #11 closed

[2016-05-01 13:26] nlottig94 commented on #9
@brookestewart I am finished with the Methodology!!!  I'm going to insert the info about what the line numbers actually mean in the poems pages then I'm finished for now. There are a few minor things to do, but I can fix those any time before the conference. Also, I noticed that we didn't get to describe the image on the one poem to Susan. You can mention this in the things we didn't get to do, bu

[2016-05-01 18:40] brookestewart opened #16 "Site ready for grading!"
@ebeshero  @ghbondar
The site is up and ready for grading! Here's what we did this semester:

- Scanned all published versions of the poems from Fascicle 6

- Transcribed and marked up all poems

- Created an SVG graph for percentage of dash reduction for Fascicle 6

- Created network analysis  using XQuery for both Fascicle 16 and 6 to measure how inter-related the variants are between all versio

[2016-05-05 15:43] ebeshero commented on #16
Thanks for your great work, @brookestewart and @nlottig94! We're sending your project evaluation today with lots of comments! You really did a brilliant job, which _also_ means there are some more things you can work on here to improve this for presentation next month and in future.

[2016-05-18 01:05] nlottig94 opened #17 "Things to do before Conference"
@brookestewart these are some things that we should try to have done before the conference.

- [ ] Fix coding of Fascicle 16
- [ ] Fix things in the head elements
- [ ] Fix color for _Dickinson_
- [ ] Type up how we made the XSLTs
- [ ] Fix Network Analysis with thicknesses

Also, @ebeshero, @brookestewart and I will have to discuss it, but personally I would like to keep working on the Dickinson

[2016-05-19 00:23] nlottig94 commented on #17
We have broken links on the Fascicle 6 Conclusion page --- linking to the data visualizations.

<3 @RJP43 from Nicole's computer lol

[2016-06-23 15:12] #15 closed

[2016-06-26 17:51] #9 closed

[2016-06-26 17:51] #3 closed

[2016-06-26 17:52] #6 closed

[2016-06-26 17:52] #16 closed

[2016-06-26 17:52] #12 closed

[2016-06-26 17:53] #8 closed